body {
width: 100%;
height:860px;

}


/*  GRID  */

.row {
padding: 2px;
margin-left: 90px;
width: 100%;
float:left;

}
.col{
  height: 150px;
  border: solid;
  float: left;
  margin-left: : 0.5%;
  margin-right: 0.5%;
}
.twelve {
	width: 100%;
  height: 300px;
  background-image: url("box.jpg");
  background-size: cover;
  text-align: center;
}
.eleven {
	width: 80%;
  background-image: url("web.jpg");
  text-align: center;
}
.six {
	width: 58%;
  background-image: url("come.jpeg");
  text-align: center;
}

.three {
	width: 20%;
  background-image: url("bike.jpg");
  text-align: center;
}

.one {
	width: 19%;
  background-color: brown;
  text-align: center;
}
.bit{
  width: 17%;
  background-color: brown;
}

footer {
  height: 30px;
  width:100%;
	background: black;
  position: absolute;
  text-align: center;
}



h1 {
	color:#7a2e40;
	margin:0 0 10px;
	padding-top: 10px;
	font:normal 17px Georgia, serif;
}


p {
	margin:0;
	padding:0;
}

#wrapper{
  width: 100%;
  height: 55px;
  background: orange;

}

#logo{
  float: left;

}
#logo h1{
  color: white;
  margin-bottom: 10px;
  font-size: 30px;
  font-style: italic;
}

#nav{
	width: 100%;
  height: 50px;
  text-align: center;
  line-height: 40px;
  background: #525879;
  opacity: 0.8;
  filter: alpha (opacity=80);
}



#nav ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  float: right;
  line-height: 20px;

}
#nav ul li{
  display: inline-block;
  width: 200px;
  height: 40px;
}

#nav ul li a{
  color: white;
  padding: 10px;
  margin: 0px;
  text-decoration: none;
  display: block;
}

#nav  ul li:hover{
  background-color: #7f85ab;
  transition:all 0.40s;
}
#nav  ul li:hover ul{
display: block;
}
#nav ul li ul{
  display: none;

}
#nav ul li ul li{
  background: #525879;
  display: block;
  width: 200px;
  height: 90px;
  text-align: center;
}
#nav li li a:hover{
  text-decoration: #7f85ab;
}
.active{
  background: #7f85ab;
}

/* Large desktop */ @media (min-width: 1200px) { ... }
/* Portrait tablet to landscape and desktop */ @media (min-width: 768px) and (max-width: 979px) { ... }
/* Landscape phone to portrait tablet */ @media (max-width: 767px) { ... }
/* Landscape phones and down */ @media (max-width: 400px) { ... }
